{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
							    <h2><span>{{ gericht1.name }}</span></h2>
							    <p>Probiern Sie jetzt, {{gericht1.beschreibung}} für nur {{gericht1.preis}} EUR !
                                Exklusiv als Gericht des Tages. </p>
							    <a href="{{path('menu')}}" class="site-btn">Menükarte</a>
							    <a href="{{path('bestellen',{id: gericht1.id})}}" class="site-btn sb-c2">Bestellen</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="/bilder/{{gericht1.bild}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{ gericht2.name }}</span></h2>
								<p>Probiern Sie jetzt, {{gericht2.beschreibung}} für nur {{gericht2.preis}} EUR !
                                Exklusiv als Gericht des Tages. </p>
								<a href="{{path('menu')}}" class="site-btn">Menükarte</a>
								<a href="{{path('bestellen',{id: gericht2.id})}}" class="site-btn sb-c2">Bestellen</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="/bilder/{{gericht2.bild}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>All you can eat für 19.95 €</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>Das Restaurant bietet für 19,95 € pro Person folgendes Konzept an: Zunächst könnt ihr aus vielen verschiedenen Salatvariationen, kalten und warmen Vorspeisen am Vorspeisenbuffet frei wählen. Anschließend serviert das Personal mehr als zehn verschiedene Fleischvariationen, solange ihr möchtet. Als Abschluss wartet dann das Dessertbuffet mit frischen und hausgemachten Leckereien auf euch.</p>
					<a href="{{path('menu')}}" class="site-btn">Try it now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->
{% endblock %}
